body {
    font-family: 'Anonymous Pro', monospace;
}

h1, h2 {
    font-family: 'Anonymous Pro', sans-serif;
}

button {
    font-family: 'Anonymous Pro';
    font-weight: bold;
}

.ioc-table {
    font-family: 'Space Mono', monospace;
}
