{% extends "base.html" %}

{% block content %}

<section id="post-title">
    <h2>{{ page.title }}</h2>
    <div class="post-meta">
        <span class="date">{{ page.date }}</span>
        <span class="category">{{ page.taxonomies.categories | join(sep=", ") }}</span>
    </div>
</section>

<!-- Content needs to include the table of contents and page content -->
<!-- Ideally we'd be able to split it off somehow -->
{% if page.toc %}
<nav class="table-of-contents">
    <h2>Contents</h2>
    <ul>
        {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
                {% for h2 in h1.children %}
                <li>
                    <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}

<section id="post-content">
    {{ page.content | safe }}
</section>

{% endblock content %}